.list {
    width: 100%;
    height: 414px;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 0;
    }

    &__item {
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-bottom: 16px;

        img{
            width: 90px;
            height: 70px;
            margin-right: 19px;
        }
        &-box {
            span {
                font-weight: 400;
                font-size: 10px;
                line-height: 100.9%;
                color: #393939;
            }

            h2{
                margin-top: 6px;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                text-transform: capitalize;
                color: #393939;
            }
        }

        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
        &:active{
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
    }
}