@import '../../Assets/SCSS/mixin.scss';

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    &__left {
        width: 670px;
        height: 570px;

        &-item {
            position: relative;
            width: 670px;
            height: 570px;

            img{
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                position: absolute;
                z-index: 2;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            span, h1{
                position: absolute;
                color: white;
                z-index: 9;
                left: 25px;
            }

            span{
                font-size: 12px;
                line-height: 100.9%;
                bottom: 137px;
            }

            h1{
                bottom: 25px;
                font-weight: 500;
                font-size: 36px;
                line-height: 53px;
                right: 30px;
            }
        }
    }

    &__right {
        width: 485px;
    }

    &__box{
        @include flex(center, space-between);
        margin-bottom: 14px;

        &-item {
            position: relative;
            width: 235px;
            height: 278px;

            img{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span{
                position: absolute;
                z-index: 3;
                color: #fff;
                font-size: 10px;
                line-height: 100.9%;
                left: 20px;
                bottom: 73px;
            }

            h3{
                position: absolute;
                z-index: 3;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                left: 20px;
                bottom: 25px;
            }
        }
    }

    &__content{
        
        &-item{
            width: 485px;
            height: 278px;
            position: relative;
            img{
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            span{
                position: absolute;
                z-index: 3;
                left: 25px;
                bottom: 103px;
                font-size: 12px;
                line-height: 100.9%;
                color: #fff;
            }
    
            h2{
                position: absolute;
                z-index: 3;
                left: 25px;
                bottom: 25px;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: #fff;
            }
        }
    }
}